*{
}

@font-face {
    font-family: 'Comfortaa';
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}
body{
    padding: 5rem;

}
#imageHolder img{
    padding: 2rem;
    width: 50%;
}
#vid{
    width: 40%;
    height: auto;
}
#elements{
    font-family: 'Comfortaa';
}